<% @items.each do |item| %>
  <div class="item-box">
    <%= link_to item_path(item) do %>
      <%= image_tag(item.image.attached? ? item.image : "no_image.png", class: "item-img") %>
      <div class="item-info">
        <h3><%= item.name %></h3>
        <span class="item-price">¥<%= 9999999 %></span>
      </div>
    <% end %>
  </div>
<% end %>
