default: &default
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  adapter: mysql2
  username: root
  password:
  host: 127.0.0.1
  port: 3306

development:
  <<: *default
  database: furima_46091_2_development

test:
  <<: *default
  database: furima_46091_2_test
