<div class="item-detail">
  <h1><%#= @item.name %></h1>
  <%# if @item.image.attached? %>
    <%#= image_tag @item.image, class: "item-image" %>
  <%# end %>
  <p><%#= @item.description %></p>
   <p>価格: ¥<%= @item.price %></p>
</div>
